@import 'zmienne';
body {
    overflow-x: hidden;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    .column{
        padding: 0;
        margin: 0;
    }
    #main-nav {
        background-color: #fff;
        .navbar-brand {
            background-color: $purple;
            font-size: 45px;
            .logo{
                height: 2.5vw;
                min-height: 20px;
                max-height: 40px;
            }
        }
        a {
            text-transform: uppercase;
            font-size: 18px;
            letter-spacing: 0.35px;
            color: $dark-gray;
            border-bottom: solid 1px transparent;
        }
        a:hover{
            border-bottom: solid 1px $dark-gray;
        }
        .nav-item{
            padding-left: 50px;
        }
    }

    footer{
        height: auto;
        color: white;
        background-color: $purple;
        letter-spacing: 1px;
        .logo{
            height: 2vw;
            max-height: 30px;
            min-height: 15px;
        }
        a{
            text-decoration: none;
            color: white;
            display: block;
        }
        a:hover{
            color: $green;
            text-decoration: none;
        }
        button{
            background-color: $green;
            border: solid 2px white;
            color: white;
        }
        button:hover{
            background-color: transparent;
            border: solid 2px $green;
            color: $green;
        }
        .social-icon i{
            text-align: center;
            margin-left: 10px;
            font-size: 28px;
            border: solid 1px white;
            height: 45px;
            width: 45px;
            line-height: 45px;
            border-radius: 50%;
        }
        .social-icon i:hover{
            background-color: $green;
            border: solid 2px white;
            color: white;
        }
    }
}

@import 'product';

