@import 'zmienne';
#product-box {
    .product {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: linear 0.5s all;
    }
    a{
        text-decoration: none;
    }
    h4 {
        font-size: 24px;
        color: #1C1D05;
        text-transform: uppercase;
        padding-top: 3.5vw;
        padding-left: 5.5vw;
        @media screen and(min-width: 768px) {
            font-size: 1.8vw;
            padding-left: 2.8vw;
        }
        @media screen and(min-width: 992px) {
            font-size: 1.5vw;
        }
    }
    .product:hover {
        background-position: left;
    }
    .product:hover h4 {
        color: white;
        font-size: 10vw;
        padding-top: 7vw;
        padding-left: 10%;
        transition: linear 0.25s all;
    }
    .product:hover h4 {
        @media screen and(min-width: 768px) {
            font-size: 3vw;
        }
    }
    .mask {
        height: 100%;
        width: 100%;
        opacity: 0.65;
        color: transparent;
        transition: linear 0.5s all;
    }
    .etui,
    .headphones {
        @media screen and(max-width: 768px) {
            height: 70vh;
        }
    }
    .speakers,
    .earphones,
    .charger {
        @media screen and(max-width: 768px) {
            height: 50vh;
        }
    }
    .etui {
        margin-top: 44px;
        background-image: url(../img/etui.png);
        @media screen and(min-width: 768px) {
            height: 50vw;
        }
    }
    .etui:hover .mask {
        background-color: $purple;
    }
    .speakers {
        background-image: url(../img/speakers.png);
    }
    .speakers:hover .mask {
        background-color: $green;
    }
    .headphones {
        background-image: url(../img/headphones.png);
        background-repeat: no-repeat;
        @media screen and(min-width: 768px) {
            height: 28vw;
        }
    }
    .headphones:hover .mask {
        background-color: $purple;
    }
    .earphones {
        background-image: url(../img/earphones.png);
    }
    .earphones:hover .mask {
        background-color: $light-gray;
    }
    .charger {
        background-image: url(../img/charger.png)
    }
    .charger:hover .mask {
        background-color: #DB445C;
    }
    
}

